.launcher {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1em;

  list-style: none;

  @media (--sm-n-below) {
    flex-direction: column;
  }
}

.launcher > li {
  flex: 0 1 calc(33%);
}

.launcherButton {
  display: block;
  border-radius: var(--radius-2);
  overflow: hidden;
  border: 4px solid var(--surface4);
}

/**
 * LauncherCard is like flow layout, text + icon, without a absolute background img
 * So we simulate it here, overwriting the card default style.
 */
.launcherButton {
  height: 300px;

  & > .launcherCard {
    height: inherit;
    justify-content: flex-end;

    & img {
      height: 50%;
    }
  }
}
