.title {
  /** Remove the default margin-top of <h1> */
  margin: 0;
  padding: 0;
}

.launcher {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1em;

  list-style: none;
}

.launcher > li {
  flex: 0 1 calc(33%);
}

.launcherButton {
  display: block;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

/**
 * LauncherCard is like flow layout, text + icon, without a absolute background img
 * So we simulate it here, overwriting the card default style.
 */
.launcherButton {
  height: 300px;

  & > .launcherCard {
    height: inherit;
    justify-content: flex-end;

    & img {
      height: 50%;
    }
  }
}
