.depositBox {
  width: 100%;
  min-height: 300px;

  display: flex;
  flex-direction: column;

  align-content: flex-start;
  justify-content: space-between;

  white-space: nowrap;

  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);

  & .amountLabel {
    user-select: none;
  }

  & .amountPrefix {
    display: flex;
    align-items: center;

    font-size: var(--font-size-fluid-0);
    font-weight: normal;

    padding: 0 1em;
    background-color: var(--surface3);
  }

  & .actions {
    width: 100%;
  }

  & .submitBtn {
    width: 100%;
  }
}

.depositSuccess {
  width: 100%;
  min-height: 300px;
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;

  white-space: nowrap;

  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);

  & .operationImage {
    border-radius: var(--radius-3);
  }
  & .operationLabel {
    text-align: center;
    font-weight: bold;
  }

  & .balanceBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: var(--font-size-1);
    font-weight: normal;
    color: var(--text2);

    & .balanceValue {
      color: var(--text1);
    }
  }

  & .actions {
    width: 100%;
    margin-top: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
}

.depositError {
  & pre {
    padding: 0.5em 2em;
    background-color: var(--surface3);
    border-radius: var(--radius-2);
  }
}
