.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  pointer-events: auto;

  &[data-disabled='true'] {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.caption {
  flex: 1 1 100%;
}

.notesBlock,
.coinsBlock {
  --gap: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  row-gap: calc(var(--gap) / 2);
  column-gap: var(--gap);

  & > .buttonItem {
    --outline-color: var(--surface4);
    --pad: 0.5em;

    padding: var(--pad);
    text-align: left;
    flex: 1 1 calc(50% - var(--gap) - (2 * var(--pad)));

    display: flex;
    align-items: center;
    gap: var(--pad);

    &[data-active='true'] {
      --outline-color: var(--surfaceInvert);
      background-color: var(--surfaceInvert);
      color: var(--textInvert);
    }

    & .value {
      width: 100%;
    }

    & .suffix {
      display: flex;
      align-items: center;
      color: inherit;
      width: 20%;
      gap: var(--pad);
    }
  }
}

.coinSubButtons {
  text-align: center;
  text-indent: 0;
  color: inherit;
}

.separator {
  width: 1px;
  height: 2rem;
  border: 0;
  border-right: 1px solid var(--text2, #333);
}

.changeTotal {
  display: flex;
  align-items: baseline;
  gap: 2em;
  justify-content: space-between;
}
