.card {
  width: auto;
  min-height: 100px;
  overflow: hidden;

  border-radius: var(--radius-2);
  background-color: var(--surface3);

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/** A single label, so the label occupy the whole card */
.cardLabel {
  font-size: var(--font-size-fluid-1);
  color: var(--text1);
  overflow-wrap: break-word;
}

/** Media and label, so
 * media is background, label
 * is in front via absolute positioning.
 */
.cardMedia + .cardLabel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: var(--surface4);
}

.cardMedia {
  width: 100%;
  height: auto;
  position: relative;

  opacity: 1;
}
