:root {
  --headerH: 64px;
}

.header {
  height: var(--headerH);
  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--invert, white);
  background-color: var(--surface2, #000000);
}
