:root {
  --headerH: 64px;
}

.header {
  height: var(--headerH);

  color: var(--primary, #000);
  background-color: var(--surface1, #d2d2d2);
}

.pageWrapper {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  max-height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  margin-right: 2em;
  margin-left: auto;
}
