:root {
  --headerH: 64px;
}

.header {
  height: var(--headerH);

  background-color: var(--surface2, #d2d2d2);
  color: var(--text2, #333);
  box-shadow: var(--inner-shadow-0);
}

.wrapper {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  max-height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  margin-right: 2em;
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 1em;
}

hr {
  width: 1px;
  height: 2rem;
  border: 0;
  border-right: 1px solid var(--text2, #333);
}
