.errorFallback {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  width: 100%;
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  & pre {
    padding: 0.5em 2em;
    background-color: var(--surface4);
    border-radius: var(--radius-2);
  }
}
