@import 'open-props/postcss/style';

@import '$lib/styles/reset';
@import '$lib/styles/typography/typography.scss';
@import '$lib/styles/colors';

body {
  background-image: url('/beams.jpg');
  background-size: cover;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.error {
  color: indianred;
  font-weight: bold;
  text-align: left;
  font-family: monospace;
  font-size: 1.5em;
}
