.list {
  list-style: none;

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.listItem {
  display: grid;
  grid-template-columns: auto 10fr auto;
  grid-gap: 2em;
}

.subtitle {
  font-size: var(--font-size-fluid-1);
  font-weight: normal;
}

/** 
 * Separators between items
 */
.listItem {
  padding-top: 1em;
  padding-bottom: 1em;
}
.listItem + .listItem {
  border-top: 1px solid var(--surface4);
}

.icon {
  width: 48px;
  height: 48px;
  background-color: var(--surface3);
  border-radius: var(--radius-4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  overflow: hidden;
}

.description {
  display: flex;
  /** One line for each child */
  flex-direction: column;
  justify-content: center;
}

.amount {
  font-weight: bold;
  font-size: var(--font-size-fluid-0);
  display: flex;
  align-items: center;
}

.listItem[data-variant='deposit'] .amount {
  color: var(--green-6);
}

.listItem[data-variant='withdraw'] .amount {
  color: var(--red-6);
}

@media (--sm-n-below) {
  .listItem {
    grid-gap: 0.5em;
  }
}
